CarDealership.Api/Data/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="positiveDecimal">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="engineTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="petrol"/>
      <xs:enumeration value="diesel"/>
      <xs:enumeration value="hybrid"/>
      <xs:enumeration value="electric"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="dealership">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="cars">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="car" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="brand" type="xs:string"/>
                    <xs:element name="model" type="xs:string"/>
                    <xs:element name="year" type="xs:gYear"/>
                    <xs:element name="price">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="positiveDecimal">
                            <xs:attribute name="currency" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="engine">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="type" type="engineTypeEnum" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="horsepower" type="xs:positiveInteger"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>